# The Cardano node service (part of systemd)
# file: /etc/systemd/system/golang.service 

[Unit]
Description     = golang-backend service
Wants           = network-online.target
After           = network-online.target 

[Service]
User            = song
Type            = simple
WorkingDirectory= /home/song/Downloads/cardano/website/backend/
ExecStart       = /bin/bash -c '/home/song/Downloads/cardano/website/backend/minting_nft.com'
KillSignal=SIGINT
RestartKillSignal=SIGINT
TimeoutStopSec=2
LimitNOFILE=32768
Restart=always
RestartSec=5
SyslogIdentifier=golang-backend

[Install]
WantedBy	= multi-user.target